{% extends "bootstrap/base.html" %}
<h1><a href='/'> Fonasa</a></h1>

{% block header %}
  <h1>{% block title %} Principal {% endblock %}</h1>
  <link rel="stylesheet" href="{{ url_for("static", filename="base.css") }}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class = "col-md-12">
        <nav>
          <ul>
            <li><a href='/hospital'>Hospital</a>
            <li><a href='/prioridad'>Lista de prioridades</a>
          </ul>
        </nav>
          <h1> Bienvenidos </h1>
      </div>
    </div>
  </div>
  
{% endblock %}